body {font-size:13px;margin:0px;padding:0px;}
dl{margin:0px;padding:0px;}
dt{margin:0px;padding:0px;}
dd{margin:0px;padding:0px;}
ol{margin:0px;padding:0px; list-style:none;}
a:link{color:#000000;text-decoration:none; }
a:visited{color:Black;text-decoration:none;}
a:hover{color:#ff0000;text-decoration:underline;}
a:active{color:Red;text-decoration:underline;}
ul{margin:0px;padding:0px;list-style:none;}
*{margin:0px;padding:0px;}
img{border:0px;}
/*Main.Master*/
.top
{
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom:1px solid rgb(216,216,216);
	}
.top_login
{
	float:left;
	margin-left:200px;
	}
.top_right
{
	float:right;
	margin-right:200px;
	}
.header
{
	width:1000px;
	height:80px;
	margin:0 auto;
	}
.logo
{
	float:left;
	}
.header .search
{
	float:left;
	margin:20px 0 20px 20px;
	}
.top_menu
{
	width:100%;
	height:40px;
	line-height:40px;
	background:url("../images/menu.gif") repeat-x;
	font-size:14px;
	}
.top_menu ul
{
	list-style:none;
	margin-left:180px;
	}
.top_menu ul li
{
	float:left;
	margin-right:25px;
	}
.top_menu ul li a
{
	color:White;
	font-weight:bold;
	}
.main_bottom
{
	width:100%;
	background:#f5f5f5;
	float:left;
	margin-top:5px;
	}
.footer
{
	width:1000px;
	margin:auto;
	padding-top:10px;
	text-align:center;
	height:auto;
	}
.footer dl
{
	width:200px;
	list-style:none;
	float:left;
	}
.footer dl dt
{
	font-weight:bold;
	padding:0 0 10px 10px;
	height:20px;
	line-height:20px;
	}
.footer dl dd
{
	padding-left:10px;
	height:20px;
	line-height:20px;
	}
/*主页*/
#index_top{width:100%;height:380px;margin:10px auto; clear:both;}
#index_top .top_left{width:740px;height:380px;margin-right:10px; float:left;}
#index_top .top_right1{width:245px; height:380px; float:left; margin-top:5px;}
.broadcast{height:40px;line-height:40px;width:100%; overflow:hidden;}
.broadcast span{color:#8f0100;font-weight:bold;}
#picplayer{width:740px;height:350px; cursor:pointer;position:relative;margin-top:5px;overflow:hidden;}
#index_top .top_right1 .news{width:100%;height:190px;border:1px solid #cccccc; margin-bottom:5px;font-size:14px;padding:5px auto;}
#index_top .top_right1 .news .title{font-size:14px;padding:5px auto;border-bottom:1px solid #9f140d; width:100%;height:28px;line-height:28px;background:url("../images/news_title.gif") repeat-x;}
.more{float:right;margin-right:2px;font-size:12px;}
#index_top .top_right1 .newbie{width:100%;height:auto;}
.free_acution{width:100%;height:370px; border:1px solid #cccccc; border-radius:5px;}
.auction_title{height:35px; line-height:35px;font-size:16px;font-weight:bold;padding-left:15px;border-bottom:1px solid #e4e4e4;position:relative;}
.auction_title span{font-size:13px;color:#ccc;}
.free_acution .content{width:100%; height:100%;}
.newest_done{width:100%;height:auto; border:1px solid #cccccc; margin:10px auto;border-radius:5px;}
.newest_done .title{width:100%;height:40px; background:url("../images/done.gif") no-repeat;}
.newest_done .content{width:100%;height:100%;}
.showpic{width:100%;height:420px;margin:10px auto;border:1px solid #cccccc;border-radius:5px;}
.showpic .title{width:100%;height:40px;background:url("../images/showpic.gif") no-repeat;}
.showpic .content{width:100%;height:100%;}
/*主页-正在热拍*/
.selling{width:100%;height:auto;min-height:370px; border:1px solid #cccccc; margin:10px auto;position:relative;border-radius:5px;}
.selling .title{width:auto; height:40px; background:url("../images/selling.gif") no-repeat;}
.selling .content{height:100%;width:100%;}
.auction_title_more{font-size:13px;height:35px;line-height:35px;font-weight:normal;position:absolute;top:0px;right:10px;}
.product_area{width:195px;height:330px;background:url("../images/product_bg.jpg");position:relative;float:left;}
.product_name{width:135px;height:46px;line-height:16px;margin-left:20px;padding-top:10px;overflow:hidden; color:#404040; text-align:center;}
.product_fullprice{width:20px; height:20px;position:absolute;top:12px;right:5px; cursor:pointer;}
.product_img{width:120px;height:120px;margin-left:35px; cursor:pointer;}
.product_price{color:#999999;height:25px;line-height:25px;padding-left:45px;}
.product_price_auctionprice{color:#ff0000;height:25px;line-height:25px;display:inline-block;font-weight:bold;font-family:Arial;font-size:13px;}
.product_price_userinfo{color:#00666b;display:inline-block;}
.product_price_auctionprice span{color:#000000;font-weight:bold;font-family:微软雅黑;}
.product_price_auctionprice_toggle{background:#ff0000;color:#000000;font-weight:bold;font-family:微软雅黑;}
.product_timer{height:30px;line-height:30px; font-family:Arial;font-size:20px;font-weight:bold; text-align:center;}
.product_auction{text-align:center;}
.product_auction img{cursor:pointer;}
.product_endtime{color:#999999;height:32px; padding-left:40px; line-height:32px;}
.product_endtime span{height:16px;line-height:16px; float:left;}

/*主页-拍客晒图*/
.showpic_con{width:95%;margin:5px;}
.showpic_area{width:470px;height:190px;margin-left:5px;}
.showpic_area_top{height:85px;width:100%;clear:both;}
.showpic_area_avatar{width:70px;height:100%;float:left;}
.showpic_area_name{width:50px;height:20px;line-height:20px;text-align:center;color:#8f0100;}
.showpic_area_info{margin-left:10px;float:left;}
.showpic_area_ttl{height:20px;line-height:20px;font-weight:bold;}
.showpic_area_pro{height:20px;line-height:20px; color:#999999;}
.showpic_area_pro span{color:#ff6600;font-weight:bold;}
.showpic_area_detail{height:45px;line-height:15px; color:#999999; word-break:break-all;width:380px;overflow:hidden;}
.showpic_area_bottom{width:100%;height:90px;margin-top:5px;}

/*用户注册页面*/
.reg{width:1000px; margin:5px auto;border:1px solid #ccc;}
.reg_title{height:35px;line-height:35px;font-size:16px;color:#b22423; font-weight:bold; border-bottom:1px solid #ccc; padding-left:5px;}
.reg_title span{font-size:12px; color:#cccccc; margin-left:5px; font-family:Arial;}
.reg_item{height:28px;line-height:28px; padding:5px 20px;margin-top:10px;}
.reg_main{padding:50px;}
.reg_main .text{font-size:14px;float:left; text-align:right; font-family:宋体; width:80px;}
.reg_main .input{float:left;}
.input_normal{float:left; width:200px;border:1px solid #cccccc;height:22px; line-height:22px;}
.remind{float:left; margin-left:15px;height:22px;line-height:22px; border:1px solid #40b3ff;background:url("../images/info1.gif") no-repeat scroll 2px 2px;background-color:#e5f5ff;padding:0 5px 0 22px;}
.error{float:left; margin-left:15px;height:22px;line-height:22px;border:1px solid #ff8080; background:url("../images/err1.gif") no-repeat scroll 2px 2px; background-color:#fff2f2; padding:0 5px 0 22px;}
.right{float:left; margin-left:15px;height:22px; width:20px; background:url("../images/right1.gif") no-repeat scroll center center;}
.reg_agreement{height:28px;line-height:28px;padding-left:80px; margin:10px auto;}
.reg_agreement a{color:#3366cc;}
.reg_submit{height:40px;padding-left:80px;line-height:40px;}

/*历史成交页面*/
.history{width:1000px; margin:10px auto; border:1px solid #cccccc;position:relative;padding-bottom:30px;overflow:hidden;}
.history_title{height:35px;line-height:35px;padding-left:15px;font-weight:bold;font-size:15px;color:#8f0100;border-bottom:1px solid #ccc;}
.history .product_img{float:left;margin:5px;}
.history .product_name{float:left; font-size:13px;margin:40px 0; text-align:left;}
.history .product_name span{color:#ccc; text-align:left;}
.history .gvw{text-align:center;}
.history_search{display:block; height:40px;line-height:40px;padding:15px auto;}
.history_area_winner{width:100px;height:100%;text-align:center;line-height:100px;}
.history_area_time{width:150px;height:100px;text-align:center;line-height:100px;overflow:hidden;}
.history_area_price{width:100px;height:100%;line-height:100px;text-align:center; color:#ff6600;font-weight:bold;}

/*商品详情页面*/
.pro_info{width:100%;height:400px;margin:10px 5px;}
.pro_info .left{width:300px;height:100%; border:1px solid #ccc;float:left;margin-right:10px;}
.img_big{width:100%;height:300px; border-bottom:1px solid #ccc; text-align:center;}
.img_small{height:77px;margin:8px;margin-left:10px;}
.pro_info .center{width:370px;height:auto;float:left;padding:10px;}
.pro_info .center .name{width:100%;height:50px;line-height:20px;font-size:16px; overflow:hidden;}
.pro_info .center .middle{width:100%;height:110px;}
.pro_info .center .middle ol{float:left; width:180px;}
.middle ol li{height:28px;line-height:28px;}
.middle span{color:#b30000; font-family:Arial;font-size:13px; font-weight:bold;}
.center .auction{height:80px;border:1px solid #ccc;background:#F1F1F1;padding:5px;}
.center .end{height:80px;border:1px solid #ccc;background:#F1F1F1;padding:5px; line-height:25px;}
.auction .time{width:200px;float:left;}
.time .text{margin-left:10px;}
.time .timer{font-size:20px; font-family:Arial;}
.time .button{float:left;padding:5px;}
.end .text{font-size:16px;}
.pro_info .bottom{line-height:25px;margin-top:5px;margin-left:5px;}
.bottom span{color:#b30000;font-weight:bold;}
.pro_info_right{float:left; width:280px;margin-right:5px;}
.top_title{height:30px;width:100%;font-weight:bold; color:#5f5f5f;}
.right_top{height:auto;border:1px solid #ccc; min-height:250px;}
.top_content{padding:5px;}
.title_my{width:138px;float:left;border:1px solid #bebebe;text-align:center;height:30px;line-height:30px;border-right:none;}
.title_history{width:138px;float:left;border:1px solid #bebebe;text-align:center;height:30px;line-height:30px;border-left:none;}
.title_focus{width:138px;float:left;height:30px;line-height:30px;text-align:center;border-top:2px solid #8f0100;border-bottom:none;color:#8f0100;}
.right_bottom{width:100%;height:100px;border:1px solid #ccc; margin-top:10px;}
.pro_detail{width:100%;margin-top:10px;text-align:left;}
.pro_detail .title{height:30px;line-height:30px;font-size:16px;font-weight:bold;border-bottom:2px solid #b30000; text-align:left;padding-left:10px;}
.pro_detail .content{width:100%;padding:5px;}
#content_history{text-align:center; color:#666666; line-height:20px; width:100%;}
.membername{color:#3366cc; text-decoration:none;}
#content_my{width:100%;padding:5px; display:none;}
#content_my li{height:25px;line-height:25px;}

/*正在热拍页面*/
.auctionlist{height:auto;margin:5px auto; width:1000px;}
.auctionlist_top{height:25px;font-size:14px;line-height:25px;}
.auctionlist_left{width:795px;border:1px solid #ccc;float:left;height:100%;margin-right:5px;}
.auctionlist_left_title{height:30px;line-height:30px;text-align:left;font-size:14px;border-bottom:1px solid #8f0100; padding-left:5px; font-weight:bold;}
.auctionlist_left_content{width:100%;padding:5px;margin:0px auto;overflow:hidden;position:relative;padding-bottom:30px;}
.auctionlist_right{width:190px;height:100%;float:left;}
.auctionlist_right_reg{width:189px;height:165px;}
.auctionlist_right_guide{width:189px;height:165px;}
.auctionlist_rcomd{height:auto;border:1px solid #ccc;width:100%;margin-top:5px;}
.auctionlist_rcomd_title{height:28px;line-height:28px;font-weight:bold;color:#8f0100;border-bottom:1px solid #8f0100;padding-left:5px;background:url("../Images/right_bg.gif")}
.rcomd_area{width:100%;height:auto;margin:5px 0px;padding:5px 0px;}
.rcomd_img{float:left; width:70px;height:70px;margin:0px 2px;}
.rcomd_detail{float:left;width:110px;}
.rcomd_name{line-height:18px; overflow:hidden;min-height:20px;max-height:38px;}
.rcomd_price{line-height:18px;}

/*个人中心母板页*/
.usercenter{margin-top:5px;padding:1px;width:100%;height:100%;}
.usercenter_left{width:200px;border:1px solid #ccc;margin-right:5px;float:left;}
.usercenter_left_title{height:30px;line-height:30px;border-bottom:1px solid #8f0100;padding-left:5px;font-size:14px;color:#8f0100;font-weight:bold;}
.list_title{height:27px;line-height:27px;background-color:#ccc;padding-left:1px;font-weight:bold;}
.usercenter_left_content ul{width:180px;margin:5px 0px 5px 10px;}
.usercenter_left_content ul li{height:26px;line-height:26px;width:170px;}
.usercenter_left_content ul li a{width:170px;height:26px;line-height:26px;padding-left:10px;}
.usercenter_right{width:788px;float:left;}
.userinfo{width:100%;height:100px;padding:5px;border:1px solid #ccc;}
.userinfo_portrait{width:70px;float:left;padding:5px;margin-right:5px;height:70px;}
.userinfo_content{float:left;height:auto;}
.userinfo_name{height:26px;line-height:26px;width:100%;margin:5px 0px;}

/*正在参与的竞拍*/
.biding{border:1px solid #ccc;width:100%;}
.biding_title{border-bottom:1px solid #8f0100;padding-left:10px;font-size:16px;font-weight:bold;height:30px;line-height:30px;}
.bidingarea{width:765px;margin:0px 10px 2px 10px;border:1px solid #ccc;height:130px;}
.bidingarea_top{height:30px;line-height:30px;background-color:#ccc;padding-left:5px;overflow:hidden;}
.bidingarea_img{float:left;width:80px;height:80px;border:1px solid #ccc;margin:10px 5px;}
.bidingarea_proname{float:left;border-right:1px solid #ccc;width:200px;line-height:20px;padding:15px 5px;height:70px;}
.bidingarea_price{width:100px;height:100px;text-align:center;font-size:14px;color:#8f0100;border-right:1px solid #ccc;float:left;line-height:100px;font-weight:bold;}
.bidingarea_member{height:100px;float:left;border-right:1px solid #ccc;line-height:100px;width:120px; text-align:center;}
.bidingarea_act{height:40px;width:120px;float:left;text-align:center;border-right:1px solid #ccc;vertical-align:center;line-height:20px;padding:30px 0px;}
.bidedarea_operate{width:110px;height:40px;line-height:20px;float:left;text-align:center;padding:30px 0px;}
.bidinghead{height:30px;line-height:30px;font-size:14px;width:765px;margin:10px 10px 0px 10px;border:1px solid #ccc;border-bottom:1px solid #8f0100; text-align:center;}
.bidinghead li{float:left;}
.bidingarea_operate{width:110px;height:100px;line-height:100px;text-align:center;float:left;}

/*竞拍订单*/
.actorder{border:1px solid #ccc;width:100%;}
.actorder_content{width:765px;padding:5px;}
.actorder_addadr1{height:25px;line-height:25px;width:100%;margin:5px;}
.actorder_addadr2{height:60px;line-height:25px;width:100%; margin:5px;}
.addadr_left{width:230px;text-align:right;float:left;}
.addadr_right{float:left;}
.actorder_addadr_btn{width:100%;padding-left:220px;}
.actorder_adr_ttl{height:30px;line-height:30px;border-bottom:1px solid #ccc; padding-left:5px;font-size:14px;}
.actorder_lsttitle{height:30px;line-height:30px;border-bottom:2px solid #351c20;}
.actorder_lsttitle li{float:left;width:80px;text-align:center;background-color:#ccc;font-size:14px;font-weight:bold;margin-right:3px;}
.actorder_lsttitle li a{text-decoration:none;}
.actorder_area{width:765px;margin-bottom:5px;border:1px solid #ccc;height:100px;}
.actorder_area_title{height:30px;line-height:30px;padding-left:5px;background-color:#ccc;}
.actorder_area_img{width:60px;height:60px;margin:5px;border:1px solid #ccc;float:left;}
.actorder_area_name{width:200px;float:left;height:30px;line-height:20px;padding:20px 0;margin-left:5px;margin-right:10px; overflow:hidden;}
.actorder_area_price{float:left;height:30px;line-height:20px;width:75px; padding:20px 0;text-align:center;}
.actorder_area_operate{float:left;height:70px;line-height:70px;text-align:center;width:75px;}

/*个人资料*/
#userinfo{width:100%;margin-top:5px;border:1px solid #ccc;height:300px;}
.userinfo_title{border-bottom:1px solid #8f0100;height:30px;padding-left:5px;font-weight:bold;font-size:14px;line-height:30px;}
.userinfo_content1{width:100%;padding-top:10px;}
.userinfo_left1{float:left;width:200px;text-align:right;height:25px;line-height:25px;margin-right:2px;}
.userinfo_right1{float:left;text-align:left;height:25px;line-height:25px;width:500px;}
.userinfo_adress{float:left;height:70px;line-height:25px;}

/*修改密码*/
.updatepwd_submit{padding-left:220px;height:25px;line-height:25px;float:left;margin:5px 0;}
.updatepwd_tr{height:30px;line-height:30px; clear:both;}
.updatepwd{width:100%;margin-top:5px;border:1px solid #ccc;height:300px;}

/*收货地址*/
.shipadress{width:100%;height:400px;border:1px solid #ccc;margin-top:5px;}
.shipadress_title{height:30px;line-height:30px;padding-left:5px;font-size:14px;border-bottom:1px solid #8f0100;font-weight:bold;}
.shipadress_select{height:30px;line-height:30px;padding-left:30px;font-size:14px;margin-top:10px;}
.adresslist{margin:10px;border:1px solid #ccc;}
.adresslist_title{background-color:#ccc;padding-left:5px;height:25px;line-height:25px;font-weight:bold;}
.updateadress{width:90%;padding:10px;}
.updateadress_tr{ clear:both;height:30px;line-height:30px;margin-top:5px;}
.updateadress_tr_left{width:200px;height:25px;line-height:25px;text-align:right;float:left;margin-right:5px;}
.updateadress_tr_right{width:500px;height:25px;line-height:25px;float:left;}
.updateadress_adress{height:50px;margin-top:5px;clear:both;}
.updateadress_adress_left{height:70px;line-height:25px;width:200px;float:left; text-align:right;margin-right:5px;}
.updateadress_adress_right{height:50px;line-height:25px; width:500px;float:left;}
.updateadress_save{height:30px;padding-left:200px;float:left;line-height:25px;width:80%;}
.adresslist th{border-bottom:1px solid #ccc;height:25px;line-height:25px;}
.adresslist_gvw{width:98%;margin:7px;}
.adresslist_gvw td{text-align:center;}

/*../UserInfo/ShowOrder.aspx 拍客晒图*/
#showorder{width:900px;height:100%;min-height:500px;}
.showorder_title{background-color:#dddddd;height:30px;line-height:30px;font-size:14px;padding-left:5px;border:1px solid #dddddd; border-bottom:none;}
.showorder_title span{color:#ccc;}
.showorder_left{width:650px; border:1px solid #dddddd;padding:20px 0 40px 35px;float:left;min-height:400px;border-top:none;height:100%;}
.showorder_pro{height:70px;line-height:70px;margin-bottom:5px;}
.showorder_left_title{height:25px;line-height:25px;margin-bottom:5px;padding-left:15px;}
.showorder_left_content{margin-bottom:5px;padding-left:15px;}
.showorder_addpic{height:50px;line-height:25px;}
.showorder_pic{padding:5px 0px 10px 50px;}
.showorder_btn{height:30px;line-height:30px;padding-left:50px;}
.showorder_right{width:200px;min-height:400px;float:left;height:100%;padding:10px 5px 29px;line-height:25px;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;}

/*~/Auction/ShowOrder.aspx 拍客晒图*/
.ShowOrder{width:1000px;height:100%;margin-top:10px;}
.ShowOrder_left{width:750px;margin-right:10px; border:1px solid #dddddd;float:left;}
.ShowOrder_left_title{height:30px;line-height:30px;font-size:14px;padding-left:5px;border-bottom:1px solid #8f0100;}
.ShowOrder_left_title span{color:#cccccc;}
.ShowOrder_left_content{width:100%; height:100%;}
.ShowOrder_area{border:1px solid #ccc; margin:2px 7px 5px;}
.ShowOrder_area_title{height:25px;line-height:25px;margin:5px 0px 0px 10px;}
.ShowOrder_area_info{height:25px;margin-left:7px;line-height:25px; color:#999999;}
.ShowOrder_area_info span{color:#ff6600;font-weight:bold;}
.ShowOrder_area_pic{height:95px;clear:both;}
.ShowOrder_area_pic ul li{float:left;}
.ShowOrder_area_avatar{width:80px;height:100%;margin-left:7px;}
.ShowOrder_area_detail{width:200px;height:85px;line-height:20px; margin:0 20px;overflow:hidden; word-break:break-all;}
.ShowOrder_area_img{padding:5px 0;}
.ShowOrder_area_reply{margin-left:5px; color:#999999;font-weight:bold;margin-bottom:5px;}

/*PointsMall-积分商城*/
.pointsmall{width:100%;border:1px solid #ccc; margin-top:10px;}
.pointsmall_title{height:30px;line-height:30px;border-bottom:1px solid #8f0100;padding-left:5px;font-size:14px; font-weight:bold;}
.pointsmall_search{height:30px;line-height:30px;width:100%;}
.pointsmall_drop{float:left;margin-right:5px;height:30px;margin-left:10px;}
.pointsmall_btn{float:left;width:45px;height:25px;background-color:#990033;text-align:center;margin:2px 0;line-height:25px;}
.pointsmall_btn a{color:#ffffff;}
.pointsmall_dlst{width:95%;margin:10px;}
.pointsmall_area{width:195px;height:266px;background:url("../../Image/pointsarea_bg.gif") no-repeat scroll;position:relative;text-align:center; margin:5px 10px;padding-top:10px;}
.pointsmall_area_img{width:120px;height:120px;margin-left:37px;margin-top:10px;}
.pointsmall_area_name{line-height:15px;width:90%;height:30px;margin:20px 5px 5px;}
.pointsmall_area_points{height:20px;line-height:20px;}
.pointsmall_area_points  span{color:#8f0100;font-weight:bold;}

/*PointsMall_Detail-商品详情*/
.pointsdetail{width:100%;margin-top:10px;}
.pointsdetail_top{width:100%;height:395px;}
.pointsdetail_left{width:300px;margin-right:10px;height:100%;float:left;border:1px solid #ccc;}
.pointsdetail_right{width:60%;height:100%;float:left;}
.pointsdetail_imgpro{width:300px;height:280px;margin-left:20px;}
.pointsdetail_img_focus{height:76px;width:76px;border:1px solid #8f0100;}
.pointsdetail_img{height:80px;line-height:80px;width:100%;}
.pointsdetail_img_non{height:75px;width:75px;border:0px;margin-right:10px;}
.pointsdetail_name{font-size:16px;font-weight:bold;height:30px;line-height:30px;width:95%;}
.pointsdetail_price{height:25px;width:100%;line-height:25px;}
.pointsdetail_points{height:25px;line-height:25px;width:100%;}
.pointsdetail_points span{font-weight:bold;color:#8f0100;}
.pointsdetail_btn{width:100px;margin-left:10px;margin-top:10px;}
.pointsdetail_bottom{width:100%;border:1px solid #ccc;margin:10px 0px;}
.pointsdetail_title{height:30px;line-height:30px;font-size:14px;font-weight:bold;border-bottom:1px solid #8f0100;}
.pointsdetail_detail{width:95%;margin:10px;}
#adressdiv_bg{position:fixed;left:0px;top:0px;width:100%;height:100%; opacity:0.5;background-color:Black;z-index:100;}
#adressdiv_top{width:500px;float:left;height:300px;left:35%;top:20%;position:fixed;z-index:1000; background-color:White;}
.adressdiv_top_close{width:18px;height:18px;position:absolute;right:0px;top:0px;}
.adressdiv_top_title{height:30px;line-height:30px;font-size:14px;font-weight:bold;border-bottom:1px solid #ccc;padding-left:10px;}
.adressdiv_adrlst{width:90%;padding-left:5px;margin-top:10px;}
.adressdiv_adrlst_btn{margin-top:20px;padding-left:0px;text-align:center;}

/*UserInfo/Exchange.aspx-积分兑换*/
.gift{width:100%;border:1px solid #ccc;margin-top:5px;}
.gift_title{height:30px;line-height:30px;border-bottom:1px solid #8f0100;padding-left:10px;font-size:14px;font-weight:bold;}
.gift_con{margin:5px;}
.gift_area{margin:5px;height:95px;border:1px solid #ccc;width:98%;}
.gift_area_img{width:80px;height:80px;float:left; text-align:center;margin-top:5px;}
.gift_area_name{line-height:20px;width:200px;float:left;height:40px;overflow:hidden;padding:20px 0;}
.gift_area_price{width:80px;height:90px;line-height:80px;text-align:center;float:left;}
.gift_area_points{width:80px;height:90px;line-height:80px;text-align:center;float:left;}
.gift_head{height:25px;line-height:25px;border-bottom:1px solid #8f0100;}
.gift_head li{float:left;}
.gift_area_time{width:80px;line-height:15px;padding:30px 0;height:40px;float:left;text-align:center;}

/*即将竞拍*/
.future_content{width:98%;margin:5px auto;padding-bottom:30px;position:relative;}
.future_area{width:98%;height:100px;margin:5px auto;background-color:#fdfdfd;}
.future_area_current{width:98%;height:100px;margin:5px auto;background-color:#f2f2f2;}
.future_area_current ul li{float:left;}
.future_area ul{list-style:none;}
.future_area ul li{float:left;}
.future_area_img{width:120px;height:100px;padding-left:10px;margin-right:10px;}
.future_area_name{width:450px;padding:10px 5px;height:80px;line-height:27px; overflow:hidden;}
.future_area_price{width:150px;height:100px;line-height:100px;text-align:center;color:#ff6600;font-weight:bold;}
.future_area_time{width:170px;text-align:center; font-weight:bold;height:100px;line-height:100px;}
#tab_head{width:98%;height:28px;line-height:28px; font-weight:bold; font-size:14px;background-color:#f3f3f3;margin:0px auto;}
.future_area_name span{color:#a6a6a6;}

/*分页控件*/
.paginator { font: 12px Arial, Helvetica, sans-serif; position:absolute;left:40%;bottom:10px;}
.paginator a {border:solid 1px #ccc;cursor:pointer;text-decoration:none;}
.paginator a:visited {padding: 1px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;}
.paginator .cpb {border:1px solid #F50;font-weight:700;color:#F50;background-color:#ffeee5;}
.paginator a:hover {border:solid 1px #f50;color:#f50;text-decoration:none;}
.paginator a,.paginator a:visited,.paginator .cpb,.paginator a:hover 
{float:left;height:16px;line-height:16px;min-width:10px;_width:10px;margin-right:5px;text-align:center;
 white-space:nowrap;font-size:12px;font-family:Arial,SimSun;padding:0 3px;}
 
 /*LoginBox-登录弹窗*/
 .loginbox{width:482px;height:305px;border:1px solid #ccc;position:relative;margin:2px;}
 .loginbox_close{width:16px;height:16px;position:absolute;top:0px;right:0px;cursor:pointer;}
 .loginbox_reg{width:100%;height:170px;text-align:center; color:#5f5f5f;}
 .loginbox_reg p{width:70%;margin:5px auto;}
 .loginbox_login{width:98%;height:130px;background-color:#ccc;margin:0px auto;}
 .loginbox_login img{cursor:pointer;}
 .loginbox_login table{margin:0px auto;}
 .loginbox_login table tr{height:25px;line-height:25px;}








